body {
    font-family: 'Rubik', sans-serif;
    background-color: #affaff;
    margin: 0;
}


#topBar {
    width: auto;
    min-width: 800px;
    height: 10%;
    border: 1px solid rgba(0,0,0,0);
    background-color: #fdffc1;
    border-bottom: 2px solid black;
}

#title {
    text-align: center;
}

#container {
    display: flex;
    width: auto;
    min-width: 800px;
    height: auto;

    justify-content: center;
    background-color: rgba(0,0,0,0);
}


#gameBoard {
    display: block;
    flex-direction: row;
    width: auto;
    text-align: center;
    height: 70vh;
    min-width: 90vh;
    min-height: 250px;
    border-radius: 2vh;
    margin: 2% 2% 2% 2%;
    background-color: #8f8f8f;
    box-shadow: rgba(0,0,0,0.4) 1vh 1vh;
}


#sidebar {
    width: 30vh;
    height: 70vh;
    min-width: 250px;
    max-width: 300px;
    min-height: 250px;
    border-radius: 2vh;
    margin: 2% 2% 2% 2%;
    background-color: #8f8f8f;
    box-shadow: rgba(0,0,0,0.4) 1vh 1vh;
}

.column {
    display: inline-flex;
    flex-direction: column;
    margin: 1% 0.125% 1% 0.125%;

}

.column:hover {
    background-color: rgba(0,0,0,.25);
}

button {
    font-family: Arial;
}

.arrow {
    max-height: 133px;
    max-width: 133px;
    display: block;
    width: 9vh;
    height: 9vh;
    background-image: url(../images/arrow.png);
    background-size: 9vh 9vh;
    margin: 1% auto 10% auto;
    animation-duration: .7s;
    animation-iteration-count: infinite;
}

.arrowImg {
    width: 9vh;
    height: 9vh;
}

.slot {
    max-height: 133px;
    max-width: 133px;
    display: block;
    width: 9vh;
    height: 9vh;
    border: 1px solid blue;
    margin: 1% auto 1% auto;
    border-radius: 50%;


}


.token {
    border-radius: 50%;
	width: 9vh;
	height: 9vh; 
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.sidebarSection {
    margin: 5% 5% 5% 5%;

}

input {
    display: inline-block;
}

#aiDifficulty {
    margin-bottom: 10%;
}

#aiSelector {
    display: flex;
    flex-direction: column;
}

button {
    width: 40%;
}


.modal {
    background-color: rgba(0,0,0,.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
    vertical-align: middle;

}

.modal-textbox {
    background-color: white;
    height: 20%;
    width: 30%;
    border-radius: 2px;
    margin: auto;
    vertical-align: middle;
    border-radius: 2vh;
    display: flex;
    background-color: #A0D2DB;
    box-shadow: rgba(0, 0, 0, 0.4) 1vh 1vh;
}

.modal-textbox > div {
    margin: auto;
    text-align: center;
    font-size: 4vh;
}


@keyframes bounce {
    0% {transform: translate(0vh);}
    50% {
        transform: translate(0vh,-1vh);
    }
    110% {
        transform: translate(0vh);
    }
}

@media (orientation: portrait) {
    .slot {
        width: 9vw;
        height: 9vw;
    }

    .arrow {
        width: 9vw;
        height: 9vw;
        background-size: 9vw 9vw;
    }

    #gameBoard {
        height: 70vw;
        min-width: 90vw;
        border-radius: 2vw;
    }


    #sidebar {
        width: 30vw;
        height: 70vw;
        border-radius: 2vw;
    }

    #container {
    width: 140vw;
    min-width: 800px;
}

    #topBar {
        width: 140vw;
    }

    .token {
        width: 9vw;
        height: 9vw;
    }

}