#topBar {
  width: 100%;
  min-width: 800px;
  height: 10%;
  border: 1px solid black;
}

#title {
    text-align: center;
}

#container {
    display: flex;
    width: auto;
    min-width: 800px;
    height: 90vh;
    border: 1px solid red;
    margin-left: 2vw;
    margin-right: 2vw;
    justify-content: center;
    
}

#gameSpace {
    display: flex;
    flex-direction: column;
    width: 105vh;
    height: 96%;
    border: 1px solid green;
    margin: 2% 2% 2% 2%;
}

#gameBoard {
    display: block;
    flex-direction: row;
    width: auto;
    text-align: center;
    height: 80vh;
    text-align: center;
    min-width: 90vh;
    margin-right: 0%;
}

#sidebar {

    width: 25%;
    max-width: 200px;
    border: 1px solid green;
    margin: 2% 2% 2% 2%
}

.column {
    display: inline-flex;
    max-height: 800px;
    flex-direction: column;
    margin: 1% auto 1% auto;
    border: 1px solid orange;
}


.slot {
    max-height: 133px;
    max-width: 133px;
    display: block;
    width: 11vh;
    height: 11vh;
    border: 1px solid blue;
    margin: 1% auto 1% auto;
}

.sidebarSection {
    margin: 5% 5% 5% 5%;
    border: 1px solid hotpink;
}

input {
    display: inline-block;
}

#aiSelector {
    display: flex;
    flex-direction: column;
}

button {
    width: 40%;
}