body {
    font-family: 'Cabin Sketch', cursive;
    background-color: #828081;
}


#topBar {
  width: 100%;
  min-width: 800px;
  height: 10%;
  border: 1px solid black;
  background-color: #1E392A;
}

#title {
    text-align: center;
}

#container {
    display: flex;
    width: auto;
    min-width: 800px;
    height: auto;
    border: 1px solid red;
    justify-content: center;
    background-color: #E9C893;
    
}


#gameBoard {
    display: block;
    flex-direction: row;
    width: auto;
    text-align: center;
    height: 70vh;
    min-width: 90vh;
    min-height: 300px;
    border: 1px solid magenta;
    margin: 2% 2% 2% 2%;
    background-color: #3CC47C;
}


#sidebar {
    width: 30vh;
    height: 70vh;
    min-width: 250px;
    max-width: 300px;
    min-height: 300px;
    border: 1px solid green;
    margin: 2% 2% 2% 2%;
    background-color: #3CC47C;
}

.column {
    display: inline-flex;
    flex-direction: column;
    margin: 1% 0.125% 1% 0.125%;

}

.column:hover {
    background-color: rgba(0,0,0,.25);
}

button {
    font-family: 'Cabin Sketch', cursive;
}

.arrow {
    max-height: 133px;
    max-width: 133px;
    display: block;
    width: 9vh;
    height: 9vh;
    background-image: url(../images/arrow.png);
    background-size: 9vh 9vh;
    margin: 1% auto 10% auto;
    animation-duration: .7s;
    animation-iteration-count: infinite;
}

.arrowImg {
    width: 9vh;
    height: 9vh;
}

.slot {
    max-height: 133px;
    max-width: 133px;
    display: block;
    width: 9vh;
    height: 9vh;
    border: 1px solid blue;
    margin: 1% auto 1% auto;
    border-radius: 50%;


}


.token {
    border-radius: 50%;
	width: 9vh;
	height: 9vh; 
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.sidebarSection {
    margin: 5% 5% 5% 5%;
    border: 1px solid hotpink;
}

input {
    display: inline-block;
}

#aiSelector {
    display: flex;
    flex-direction: column;
}

button {
    width: 40%;
}


@keyframes bounce {
    0% {transform: translate(0vh);}
    50% {
        transform: translate(0vh,-1vh);
    }
    110% {
        transform: translate(0vh);
    }
}