#topBar {
  width: 100%;
  min-width: 800px;
  height: 10%;
  border: 1px solid black;
}

#title {
    text-align: center;
}

#container {
    display: flex;
    width: auto;
    min-width: 800px;
    height: auto;
    border: 1px solid red;
    justify-content: center;
    
}


#gameBoard {
    display: block;
    flex-direction: row;
    width: auto;
    text-align: center;
    height: 70vh;
    min-width: 90vh;
    border: 1px solid magenta;
    margin: 2% 2% 2% 2%;
}


#sidebar {

    width: 25vh;
    height: 70vh;
    min-width: 150px;
    max-width: 200px;
    border: 1px solid green;
    margin: 2% 2% 2% 2%
}

.column {
    display: inline-flex;
    flex-direction: column;
    margin: 1% 0.5% 1% 0.5%;
    border: 1px solid orange;
}



.arrow {
    max-height: 133px;
    max-width: 133px;
    display: block;
    width: 9vh;
    height: 9vh;
    border: 1px solid blue;
    margin: 1% auto 10% auto;
}

.slot {
    max-height: 133px;
    max-width: 133px;
    display: block;
    width: 9vh;
    height: 9vh;
    border: 1px solid blue;
    margin: 1% auto 1% auto;
}


.token {
    width: 9vh;
    height: 9vh;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.sidebarSection {
    margin: 5% 5% 5% 5%;
    border: 1px solid hotpink;
}

input {
    display: inline-block;
}

#aiSelector {
    display: flex;
    flex-direction: column;
}

button {
    width: 40%;
}