#topBar {
  width: 100%;
  min-width: 800px;
  height: 10%;
  border: 1px solid black;
}

#title {
    text-align: center;
}

#container {
    display: flex;
    width: 100%;
    min-width: 800px;
    height: 800px;
    border: 1px solid red;
}

#gameSpace {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 96%;
    border: 1px solid green;
    margin: 2% 2% 2% 2%;
}

#gameBoard {
    flex-direction: row;
    height: 96%;
}

#sidebar {

    width: 25%;
    max-width: 200px;
    border: 1px solid green;
    margin: 2% auto 2% auto;
}

.column {
    display: inline-flex;
    flex-direction: column;
    width: 13%;
    height: 95%;
    margin: 1% 0 1% 0;
    border: 1px solid orange;
}


.slot {
    display: block;
    width: 98%;
    height: 13%;
    border: 1px solid blue;

    margin: 1% 1% 1% 1%;
}

.sidebarSection {
    margin: 5% auto 5% auto;
    border: 1px solid hotpink;
}

input {
    display: inline-block;
}

#aiSelector {
    display: flex;
    flex-direction: column;
}

button {
    width: 40%;
}